<article class="item">
  <div *ngIf="!editable">
    <input
      [id]="item.description"
      type="checkbox"
      (change)="toggleDone(item.id, item.done)"
      [checked]="item.done"
    />
    <label [for]="item.description">{{ item.description }}</label>
    <div class="btn-wrapper" *ngIf="!editable">
      <button class="btn" (click)="editable = !editable">Edit</button>
      <button class="btn btn-warn" (click)="delete(item.id)">Delete</button>
    </div>
  </div>

  <!-- This section shows only if user clicks Edit button -->
  <div *ngIf="editable" class="edit-div">
    <input
      class="sm-text-input"
      placeholder="edit item"
      [value]="item.description"
      #editedItem
      (keyup.enter)="saveItem(item.id, editedItem.value)"
    />

    <div class="btn-wrapper">
      <button class="btn" (click)="editable = !editable">Cancel</button>
      <button
        class="btn btn-save"
        (click)="saveItem(item.id, editedItem.value)"
      >
        Save
      </button>
    </div>
  </div>
</article>
