.item {
  padding: 0.5rem 0 0.75rem 0;
  text-align: left;
  font-size: 1.2rem;
}
.item > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  background-color: #1e1e1e;
  padding: 0.5rem 1rem;
  border: solid 0.5px rgb(136, 131, 121);
  border-radius: 1rem;
}

.btn-wrapper {
  display: flex;
  gap: 0.5rem;
}

.check-label {
  min-height: 40px;
  display: flex;
  align-items: center;
}

.btn {
  /* menu buttons flexbox styles */
  flex-basis: 49%;
  height: 40px;
}

.btn-save {
  background-color: wheat;
  color: black;
  border-color: wheat;
}

.btn-save:hover {
  background-color: rgb(249, 228, 188);
}

.btn-save:focus {
  background-color: #fff;
  color: #000;
}

.checkbox-wrapper {
  margin: 0.5rem 0;
}

.btn-warn {
  background-color: #fe7454;
  color: black;
  border-color: #fe7454;
}

.btn-warn:hover {
  background-color: #fa7254;
}

.btn-warn:active {
  background-color: #fa7557;
  border-color: #000;
}

.sm-text-input {
  width: 100%;
  height: 40px;
  padding: 0.75rem 1rem;
  border: 0px solid rgb(136, 131, 121);
  background-color: #000000;
  color: wheat;
  border-radius: 2rem;
  box-sizing: border-box;
  font-size: 1rem;
}

.edit-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: center;
}

@media screen and (min-width: 600px) {
  .item > div,
  .edit-div {
    height: 56px;
    flex-direction: row;
    align-items: center;
  }
}

/* Custom checkboxes
Adapted from https://css-tricks.com/the-checkbox-hack/#custom-designed-radio-buttons-and-checkboxes */

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid wheat;
  border-radius: 16rem;
  background: #1e1e1e;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "\2713\0020";
  position: absolute;
  top: 0.15em;
  left: 0.22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #fe7454;
  transition: all 0.2s;
  font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}
