<main class="main">
  <header>
    <div>
      <h1>To-do app</h1>
      <label for="addItemInput">Keep it up</label>
    </div>
    <h2>
      {{ items.length }}
      <div>
        <span *ngIf="items.length === 1; else elseBlock">item</span>
        <ng-template #elseBlock>items</ng-template>
      </div>
    </h2>
  </header>
  <div class="input-div">
    <input
      #newItem
      placeholder="add an Item"
      (keyup.enter)="addItem(newItem.value); newItem.value = ''"
      class="lg-text-input"
      id="addItemInput"
    />
    <button
      class="btn-primary"
      (click)="addItem(newItem.value); newItem.value = ''"
    >
      +
    </button>
  </div>

  <div class="btn-wrapper">
    <button
      class="btn btn-menu"
      [class.active]="filter == 'all'"
      (click)="filter = 'all'"
    >
      All
    </button>

    <button
      class="btn btn-menu"
      [class.active]="filter == 'active'"
      (click)="filter = 'active'"
    >
      To Do
    </button>

    <button
      class="btn btn-menu"
      [class.active]="filter == 'done'"
      (click)="filter = 'done'"
    >
      Done
    </button>
  </div>

  <ul>
    <li *ngFor="let i of items">
      <app-item [item]="i"></app-item>
    </li>
  </ul>
</main>
