body {
  font-family: Helvetica, Arial, sans-serif;
  background: #0d0d0d;
  color: wheat;
}

.btn-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.btn {
  color: wheat;
  background-color: #1e1e1e;
  border: 0.5px solid rgb(136, 131, 121);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.btn:hover {
  background-color: #2d2d2d;
}

.btn:active {
  background-color: #323232;
}

.btn:focus {
  outline: none;
}

.btn-primary {
  color: black;
  width: 56px;
  height: 56px;
  background-color: #fe7454;
  padding: 0.75rem;
  font-size: 1.3rem;
  font-weight: 900;
  border: black solid 2px;
  border-radius: 16rem;
  margin: 1rem 0;
}

.btn-primary:hover {
  background-color: #444242;
}

.btn-primary:focus {
  color: #000;
  outline: none;
  border: #000 solid 2px;
  background-color: #d7ecff;
}

.btn-primary:active {
  background-color: #212020;
}
